.main {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	grid-column-gap: 10%;
	grid-row-gap: 10%;
	width: 300px;
}

.big {
	border: 2px solid black;
	border-radius: 10000000px;
	width: 80px;
	height: 80px;
}

.mini {
	background: red;
	border: 2px solid black;
	border-radius: 10000000px;
	width: 30px;
	height: 30px;
	margin: 23px;
}

#point {
	width: 320px;
	text-align: center;
	font-weight: 900;
	margin-top: 30px;
}